<div class="container">
  <!-- Section One : include card with red bullet header -->
  <div class="row text-center section-one">
    <div class="col-md-3 cards" *ngFor="let i of [1,2,3,4]">
      <div class="card">
        <div class="card-img-top img-circle rounded-circle "></div>

        <div class="card-block ">
          <h4 class="card-title ">Mirion Jones</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-light btn-lg">Button</button>

        </div>
      </div>
    </div>
  </div>

  <!-- Section Two : Gallery with slider beside -->
  <div class="section-two">
    <div class="row">
      <div class="col-md-9 gallery">
        <div class="row">
          <div class="col-md-4 gallery-item">
            <div class="card">
              <div class="card-block ">
              </div>
            </div>
          </div>

          <div class="col-md-4 gallery-item">
            <div class="card">
              <div class="card-block ">
                <h4 class="card-title ">Lorem ipsum dolor sit amet.</h4>
                <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ab vero soluta, assumenda minima explicabo
                  debitis!
                </p>

              </div>
            </div>
          </div>

          <div class="col-md-4 gallery-item">
            <div class="card">
              <div class="card-block ">
              </div>
            </div>
          </div>

          <div class="col-md-4 gallery-item">
            <div class="card">
              <div class="card-block ">
                <h4 class="card-title ">Lorem ipsum dolor sit amet.</h4>
                <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ab vero soluta, assumenda minima explicabo
                  debitis!
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 gallery-item">
            <div class="card">

              <div class="card-block ">

              </div>
            </div>
          </div>

          <div class="col-md-4 gallery-item">
            <div class="card">

              <div class="card-block ">
                <h4 class="card-title ">Lorem ipsum dolor sit amet.</h4>
                <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ab vero soluta, assumenda minima explicabo
                  debitis!
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3 nopadding">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <h3 class="carousel-title ">Lorem, ipsum.</h3>
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloremque dicta illo ad enim magni fugit fugiat,
                iusto dolor blanditiis maiores repudiandae aliquid eius omnis dignissimos tempora reprehenderit dolores asperiores
                rem aut beatae. Labore fuga eligendi aspernatur! Unde odit exercitationem .</p>
              <button type="button" class="btn btn-light btn-lg btn-block">Button</button>

            </div>
            <div class="carousel-item ">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloremque dicta illo ad enim magni fugit fugiat,
                iusto dolor blanditiis maiores repudiandae aliquid eius omnis dignissimos tempora reprehenderit dolores asperiores
                rem aut beatae. Labore fuga eligendi aspernatur! Unde odit exercitationem .</p>
              <button type="button" class="btn btn-light btn-lg btn-block">Button</button>
            </div>
            <div class="carousel-item ">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloremque dicta illo ad enim magni fugit fugiat,
                iusto dolor blanditiis maiores repudiandae aliquid eius omnis dignissimos tempora reprehenderit dolores asperiores
                rem aut beatae. Labore fuga eligendi aspernatur! Unde odit exercitationem .</p>
              <button type="button" class="btn btn-light btn-lg btn-block">Button</button>
            </div>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="section-three">
    <div class="row">
      <!-- Vertical Timeline -->
      <section class="conference-timeline">
        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">
          <!-- Article -->
          <div class="timeline-article">
            <div class="content-right-container">
              <div class="content-right">
                <p>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is.
                </p>
              </div>
            </div>
            <div class="meta-date">
              <span class="year">1998</span>
            </div>
          </div>
          <!-- // Article -->

          <!-- Article -->
          <div class="timeline-article">
            <div class="content-left-container">
              <div class="content-left">
                <p>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is. Mankind, let
                  us preserve and increase this beauty, and not destroy it!
                </p>
              </div>
            </div>

            <div class="meta-date">
              <span class="year">2000</span>
            </div>
          </div>
          <!-- // Article -->

        </div>
      </section>
      <!-- // Vertical Timeline -->
    </div>
  </div>
