@import '~compass-mixins/lib/_compass';
$redColor: #ed3000;
.nopadding {
  padding: 0px !important;
}

.section-one {
  margin-top: 70px;
  .card-img-top {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -25px;
    width: 50px !important;
    height: 50px;
    background: $redColor;
  }
  .card {
    border: 0px;
    cursor: pointer;
    border-top: 3px solid $redColor;
    border-radius: 0px;
    padding: 50px 25px;
    background: white;
    @include transition-duration(.6s);
    &:hover {
      @include box-shadow(rgba(gray, 0.4) 0px 0px 52px 6px); //   box-shadow: 0px 0px 52px 6px lightgrey;
      //transform: scale(1.2);
      @include scale(1.2);
      z-index: 10;
      .btn {
        background: $redColor;
        color: white;
      }
    }
  }
  .cards {
    display: flex;
    padding: 0 3px;
  }
}

.section-two {
  margin-top: 60px;
  .gallery{
    height: 510px;
  }
  .card {
    border: 0px;
    border-radius: 0px;
    @include transition-duration(.4s);
  }
  .gallery-item {
    padding: 0;
    min-height: 180px;
  }
  .gallery-item:nth-child(even) {
    .card-block {
      padding: 40px 30px;
    }
  }
  .gallery-item:nth-child(odd) {
    background: black;
  }
  .gallery-item:nth-child(1) {
    border-bottom: 2px solid $redColor;
  }
  .gallery-item:nth-child(1):after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -2px;
    left: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    margin: 0 auto;
    border-width: 15px;
  }
  .gallery-item:nth-child(1):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -2px;
    left: 0;
    right: 0;
    border-color: transparent transparent $redColor transparent;
    border-width: 17px;
    margin: 0 auto;
  }
  .gallery-item:nth-child(3) {
    border-left: 2px solid $redColor;
  }
  /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
  .gallery-item:nth-child(3):after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: -2px;
    right: 0;
    border-color: transparent transparent transparent white;
    border-width: 15px;
    top: 45%;
  }
  .gallery-item:nth-child(3):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: -2px;
    right: 0;
    top: 44.25%;
    border-color: transparent transparent transparent $redColor;
    border-width: 17px;
  }
  .gallery-item:nth-child(5) {
    border-right: 2px solid $redColor;
  }
  /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
  .gallery-item:nth-child(5):after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: -2px;
    border-color: transparent white transparent transparent;
    border-width: 15px;
    top: 45%;
  }
  .gallery-item:nth-child(5):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: -2px;
    top: 44.25%;
    border-color: transparent $redColor transparent transparent;
    border-width: 17px;
  }
  .carousel {
    height: 100%;
    background: $redColor;
    padding: 40px 20px;
    .carousel-item {
      color: white;
      height: 100%;
    }
    .carousel-title {
      color: white
    }
    .carousel-indicators {
      padding: 30px 0;
      position: initial;
      justify-content: left;
      margin: 0px;
      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }
}

.section-three {
  padding: 40px; // *=====Vertical Timeline=====*/ 
  .conference-timeline {
    position: relative;
    width: 100%;
    margin: 0 40px;
  }
  .conference-center-line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border: 1px dashed lightgray;
    z-index: -1;
  }
  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: -20px 0;
    &:nth-child(1) {
      margin: 0px;
    }
    .content-left-container,
    .content-right-container {
      max-width: 44%;
      width: 100%;
    }
    .timeline-author {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #242424;
      text-align: right;
    }
    .content-left,
    .content-right {
      position: relative;
      width: auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      @include box-shadow(0 1px 3px rgba(0, 0, 0, .03)); // 0 1px 3px rgba(0, 0, 0, .03)
      padding: 27px 25px;
    }
    .content-right .timeline-article p {
      padding: 0;
      font-weight: 400;
      color: #242424;
      font-size: 14px;
      line-height: 24px;
      position: relative;
    }
    p span.article-number {
      position: absolute;
      font-weight: 300;
      font-size: 44px;
      top: 10px;
      left: -60px;
      color: #00b0bd;
    }
    .content-left-container {
      float: left;
    }
    .content-right-container {
      float: right;
    }
    .content-left:before,
    .content-right:before {
      position: absolute;
      top: 20px;
      font-size: 23px;
      color: #fff;
    }
    .content-left:before {
      content: "\f0da";
      right: -8px;
    }
    .content-right:before {
      content: "\f0d9";
      left: -8px;
    }
    .meta-date {
      position: absolute;
      top: 20%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-left: -37px;
      color: lightgray;
      border-radius: 100%;
      border: 1px solid lightgray;
      background: #ffffff;
    }
    .meta-date .year {
      display: block;
      text-align: center;
      font-weight: 700;
    }
    .meta-date .year {
      font-size: 22px;
      line-height: 70px;
    }
  }
  /*===== // Vertical Timeline =====*/
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
    .timeline-article {
      margin: 20px 0 !important;
    }
    .conference-center-line {
      margin-left: 0;
      left: 55px;
    }
    .timeline-article .meta-date {
      margin-left: 0;
      left: 20px;
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px;
    }
    .timeline-article .content-left-container {
      margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px;
    }
    .timeline-article .content-left:before {
      content: "\f0d9";
      right: auto;
      left: -8px;
    }
    .timeline-article .content-right:before {
      display: none;
    }
  }
  @media only screen and (max-width: 400px) {
    .timeline-article p {
      margin: 0;
    }
    .timeline-article p span.article-number {
      display: none;
    }
  }
}

/*===== // Resonsive Vertical Timeline =====*/
